extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        .box-shadow

          h1 Jason Miller

          p Full Stack JavaScript Developer


          .about-bio

            p Hello World! I'm Jason a Full Stack JavaScript Developer. I would love to work with you developing your next big idea. Feel free to reach out via email or LinkedIn. If you have time, take a look at some of my featured projects; or my Github account for other projects not featured. Thanks for stopping by and enjoy the rest of your day.


      
      .skills-contact-box.box
        .box-shadow
          h6 Skills

          ul
            li HTML
            li CSS
            li JavaScript
            li Git and GitHub
            li OOP
            li Fetch and Public APIs
            li Node.js
            li Express
            li Pug

          h6 Contact Info

          ul
            li 
              a(href="mailto:millerjason590@gmail.com") millerjason590@gmail.com

          a.btn-link(href='https://github.com/jahson8?tab=repositories' target="_blank") GitHub
          a.btn-link(href='https://www.linkedin.com/in/jason-miller-478a3810a/' target="_blank") Linkedin


    nav.nav
      a(href='/')
        span &larr;
        |  Back