extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        .box-shadow

          h1 Jason Miller

          p Full Stack JavaScript Developer


          .about-bio

            p Hello World! I am a young enthusiast who is keen on IT and anything about it since my first steps to High School. During the past few years, I gained lots of experience in this field due to the strong desire of becoming an expert. Today I am a senior front-end developer at one of the leading companies in the world. “For me, web development is more than coding. It's a canvas with a blank page and I am the artist to paint it with colors of coding”.


      
      .skills-contact-box.box
        .box-shadow
          h6 Skills

          ul
            li HTML
            li CSS
            li JavaScript
            li Git and GitHub
            li OOP
            li Fetch and Public APIs
            li Node.js
            li Express
            li Pug

          h6 Contact Info

          ul
            li 
              a(href="mailto:millerjason590@gmail.com") millerjason590@gmail.com

          a.btn-link(href='https://github.com/jahson8?tab=repositories' target="_blank") GitHub
          a.btn-link(href='https://www.linkedin.com/in/jason-miller-478a3810a/' target="_blank") Linkedin


    nav.nav
      a(href='/')
        span &larr;
        |  Back