extends layout.pug

block content

  article.portfolio-intro

    .box-shadow

   
      h1 Hey Potential Partners!

      h2 Let's build great projects together.

      p While you're here, Have a look at some of my work.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell.box-shadow
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images.thumbnail}`, alt=`${project.projectName}`)
            h5= project.projectName

